body {
    background-image: url("../images/body-background.jpg");
    width: 100%;
}

#content{
    margin-top:10%;
    margin-bottom: 10%;
}

#game{
    display: none;
}

#restart{
    display: none;
}

.answer:hover{
    font-weight: 700;
}